@tailwind base;
@tailwind components;
@tailwind utilities;



.action-buttons {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-top: 36px;
}

.sign-in-button {
    flex: 1;
    border-radius: 4px;
    padding: 4px 0;
    font-size: 15px;
    font-weight: 500;
    transition: opacity 0.3s ease;
}

.google {
    background-color: #dd4343;
    color: #fff;
}

.twitter {
    background-color: #4aace8;
    color: #fff;
}

.google:hover,
.twitter:hover {
    opacity: 0.85;
}

.divider {
    margin-block: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    position: relative;
    justify-content: center;
    align-items: center;
}

.divider p {
    z-index: 1;
    color: #777;
}

.divider p::before,
.divider p::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 45%;
    height: 1px;
    background-color: #333639;
    z-index: 0;
}

.divider p::before {
    left: 0;
}

.divider p::after {
    right: 0;
}

/* REGISTER */
.bars{
    margin: 8px 0;
    flex: 1 1 auto;
    display: flex;
    gap: 8px;
    height: 6px;
    border-radius: 3px;
    background: #dfe1f0;
  }
  
  .bars div{
    height: 6px;
    border-radius: 3px;
    transition: .4s;
    width: 0%;
  }
  
  .bars.weak div{
    background: #e24c71;
    width: 33.33%;
  }
  
  .bars.medium div{
    background: #f39845;
    width: 66.66%;
  }
  
  .bars.strong div{
    background: #57c558;
    width: 100%;
  }
  
  .strength{
    text-align: left;
    height: 10px;
    text-transform: capitalize;
    color: #868b94;
  }